#home_page_photo {
  width:60%;
  max-width: 500px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.rooms_page_photo {
  width: 50%;
  max-width: 400px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
}

.room {
  margin-top: 50px;
  display: table-row;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family: 'Merriweather', serif;
}

#title-border {
  margin-bottom: 5%;
}

.nav-view {
  position: fixed;
  float: left;
  width: 14%;
  height: 100%;
  border: 1px solid #e6e6e6;
  margin: -2.2%;
  padding-top: 2%;
  background-color: #1a1a1a;
}

.nav-item {
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  color: #ffffff;
  font-size: 18px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #006622;
}

.home-page, .rooms-page, .about-page, .contact-page {
  width: 70%;
  float: right;
  margin-right: 15%;
}

.nav-icon {
  width: 18px;
  height: auto;
  float: left;
  margin-left: 15px;
  margin-right: -10px;
}

h3 {
  margin-bottom: 20px;
  margin-top: -20px;
}

body {
  margin: 2%;
}

html, body {
  height: 100%;
}
